
.card img {
    padding: 10px;
    width: 450px;
    height: 250px;
}
.card-body {
    padding: 10px;
    width: 450px;
}

.text-muted span {
    font-weight: bold;
}

.text-muted span:hover {
    font-size: 1.25rem;
}